body{
    font-family: source sans pro;
    background-color: rgb(203, 234, 234);
    padding: 2%;
}
img{
    max-width: 50%;
    height: auto;
}
.licencia{
    margin: 0%;
    font-size: smaller;
}














