
  h1{color: rgb(179, 173, 215)}
  h1{ font-family: Impact}
  h2{ font-family: Comic Sans MS}
  h2{ color:aliceblue}
  h3{ color:aliceblue}
   h4{ color:aliceblue}
  h5{ color:aliceblue}
   h6{ color:aliceblue}
  p{ color: aliceblue}
          
          
   a:link {color:rgb(135, 227, 250)}
   a:visited {color:rgb(240, 189, 245)}

body{background-color:#525252;}

  
  
table, th, td{
    border: 2px solid rgb(255, 255, 255);
    padding-left: 2px;
    padding-right: 2px

  }

.nota{
  position:absolute; top: 20px; right: 40px;

}






.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;

  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #525252;
    border-radius: 5px;
    width: 80%;
    position: relative;
    transition: all 5s ease-in-out;
    max-height: 75%;
    overflow: auto;

}
  
  .popup h2 {
    margin-top: 0;
    color: rgb(123, 218, 173);
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 0px;
    right: 10px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    height: 80%;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  
  
  
